@model PersonalInfoViewModel

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}


<div class="container mt-5">
    <div class="profile-card">
        <h2 class="profile-title">Kişisel Bilgiler</h2>
        <hr>
        <div class="profile-detail mb-3">
            <span class="profile-label">İsim: </span> @Model.Name
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Soyisim: </span> @Model.Surname
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Hakkımda: </span>
            @Model.About
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Doğum Tarihi: </span> @Model.BirthDate.ToString("dd MMM yyyy")
        </div>

        <!-- Düzenle Butonu -->
        <div class="text-right">
            <a href="/update-personal-info" class="btn btn-primary">Düzenle</a>
        </div>
    </div>
</div>

@section Styles {
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .custom-alert-success {
            display: inline-block;
            top: 10px; /* Varsayılan üst boşluk */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }


        .profile-card {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 20px auto;
        }

        .profile-title {
            font-size: 24px;
            font-weight: bold;
            color: #343a40;
        }

        .profile-detail {
            font-size: 16px;
            color: #495057;
        }

        .profile-label {
            font-weight: bold;
            color: #6c757d;
        }

        .btn {
            font-size: 14px;
        }

        @@media (max-width: 576px) {
            .profile-card {
                padding: 15px;
            }

            .profile-title {
                font-size: 20px;
            }

            .profile-detail {
                font-size: 14px;
            }
        }
    </style>
}

@section Scripts {
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
