@model PersonalInfoPortfolioViewModel

@{
	var imgUrl = ViewData["AboutMeImageUrl"];
	var fileApiUrl = ViewData["FileApiUrl"];
}

<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
	<div class="container">
		<div class="row d-flex">

			@if(Model is not null && Model.About is not null)
			{
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(@($"{fileApiUrl}/uploads/{imgUrl}"));">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h1 class="big">Hakkımda</h1>
							<h2 class="mb-4">Hakkımda</h2>
							<p>@Model.About</p>
							<ul class="about-info mt-4 px-md-0 px-2">
								<li class="d-flex"><span>İsmim:</span> <span>@Model.Name @Model.Surname</span></li>
								<li class="d-flex align-items-center"><span>Doğum Tarihim:</span> <span>@Model.BirthDate.ToString("dd MMMM yyyy")</span></li>
								<li class="d-flex"><span>Yaşadığım Yer:</span> <span>@Model.Adress</span></li>
								<li class="d-flex"><span>Mail Adresim:</span> <span>@Model.Email</span></li>
							</ul>
						</div>
						<div class="counter-wrap ftco-animate d-flex mt-3">
							<div class="text d-flex align-items-center">
								<p class="mb-0 mr-4">
									<span class="number" data-number="5">0</span>
									<a href="/#projects-section"><span>Proje</span></a>
								</p>
								<p class="mb-0">
									<a href="#" class="btn btn-primary" style="padding: 0.5rem 1rem; font-size: 12px;">Özgeçmişim</a>
								</p>

							</div>
						</div>
					</div>
				</div>
			}
			else if(Model is not null && Model.About is null)
			{
				<div class="col-12 text-center">
					<h3 class="mt-5">Şu Anda Kişisel Bilgi Bulunmuyor</h3>
				</div>
			}
			else
			{
				<div class="col-12 text-center">
					<h3 class="mt-5">Şu Anda Kişisel Bilgilere Ulaşılamıyor</h3>
				</div>
			}
			
		</div>
	</div>
</section>


<style>
	.counter-wrap{
		margin-top : 30px;
		margin-left : 60px;
	}
</style>