@model List<AllExperiencesPortfolioViewModel>

<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Deneyimler</h1>
                <h2 class="mb-4">Deneyimlerim</h2>
                <p style="color:wheat;">Şu ana kadarki deneyimlerimi aşağıda bulabilirsiniz.</p>
            </div>
        </div>
        <div class="row justify-content-center">
         
            @if (Model is not null && Model.Any())
            {
                int cardCount = Model.Count();
                for (int i = 0; i < cardCount; i++)
                {
                    var experience = Model[i];
                    <div class="col-md-6 d-flex align-items-stretch @(cardCount % 2 != 0 && i == cardCount - 1 ? "single-card" : "")">
                        <div class="resume-wrap ftco-animate">
                            <span class="date">@experience.StartDate.ToString("yyyy-MM")  /  @(experience.EndDate?.ToString("yyyy-MM") ?? "Aktif")</span>
                            <h2>@experience.Title</h2>
                            <span class="position">@experience.Company</span>
                            <p class="mt-4">@experience.Description</p>
                        </div>
                    </div>
                }
            }
            else if (Model != null && Model.Count == 0)
            {
                <div class="col-12 text-center">
                    <h3 class="mt-5">Şu Anda Deneyim Bilgisi Bulunmuyor</h3>
                </div>
            }
            else
            {
                <div class="col-12 text-center">
                    <h3 class="mt-5">Şu Anda Deneyim Bilgilerine Ulaşılamıyor</h3>
                </div>
            }
        </div>



        <div class="row justify-content-center mt-5">
            <div class="col-md-12 text-center ftco-animate">
                <!-- Burada col-md-6'dan col-md-12'ye geçildi -->
                <p><a href="#" class="btn btn-primary py-4 px-5">Özgemişim</a></p>
            </div>
        </div>

    </div>
</section>

<style>
    /* Flexbox yapısını aynı satırda hizalamak ve yüksekliği eşitlemek için */
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Yatayda ortalamak için */
    }

    .col-md-6 {
        display: flex;
        align-items: stretch; /* Aynı yükseklikte hizalamak için */
        margin: 0; /* Margin kaldırıldı */
    }

    .resume-wrap {
        padding: 20px;
        /*  border: 1px solid #ddd; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Tek sayıda kart varsa ortalamak için */
    .single-card {
        margin: auto; /* Yalnızca tek kart varsa otomatik kenar boşluğu */
    }
</style>
