@model AboutMePortfolioViewModel

<section id="home-section" class="hero">
	<div class="home-slider  owl-carousel">

		@if(Model is not null&& Model.ImageUrl1 is not null)
		{
			<div class="slider-item ">
				<div class="overlay"></div>
				<div class="container">
					<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third js-fullheight order-md-last img" style="background-image:url(@($"https://localhost:7085/uploads/{Model.ImageUrl1}"));">
							<div class="overlay"></div>
						</div>
						<div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Merhaba!</span>
								<h1 class="mb-4 mt-3">Ben <span> @Model.FullName </span></h1>
								<h2 class="mb-4">@Model.Field</h2>
								<p>
									<a href="/#contact-section" class="button-about-me btn btn-primary py-3 px-4">Birlikte Çalışalım</a>
									<a href="/#projects-section" class="btn btn-white btn-outline-white py-3 px-4">Çalışmalarım</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container">
					<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third js-fullheight order-md-last img" style="background-image:url(@($"https://localhost:7085/uploads/{Model.ImageUrl2}"));">
							<div class="overlay"></div>
						</div>
						<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Merhaba!</span>
								<h1 class="mb-4 mt-3"><span> @Model.Introduction </span></h1>
								<p>
									<a href="/#contact-section" class="button-about-me btn btn-primary py-3 px-4">Birlikte Çalışalım</a>
									<a href="/#projects-section" class="btn btn-white btn-outline-white py-3 px-4">Çalışmalarım</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		else if (Model != null && Model.ImageUrl1 is null)
		{
			<div class="col-12 text-center" style="margin-top:300px;">
				<h3 class="mt-5">Şu Anda Hakkımda Kısmında Bilgi Bulunmuyor</h3>
			</div>
		}
		else
		{
			<div class="col-12 text-center" style="margin-top:300px;">
				<h3 class="mt-5">Şu Anda Hakkımda Kısmına Ulaşılamıyor</h3>
			</div>
		}
	</div>
</section>

	<style>

		@@media (max-width: 401px) {
			.button-about-me {
				margin-bottom: 1rem;
			}
		}

	.one-third.js-fullheight.order-md-last.img {
		background-position: center top; /* Arka planı yukarı taşır */
	}

	@@media (max-width: 450px) {
		.one-third.js-fullheight.order-md-last.img {
			background-size: 80%; /* Fotoğrafı %80 oranında küçült */
			height: 300px; /* Yüksekliği 300px yap */
			transform: translateY(-80px); /* İstenilen kadar yukarı kaydır */
		}
	}

	@@media (min-width: 451px) and (max-width: 767px) {
		.one-third.js-fullheight.order-md-last.img {
			background-size: 85%; /* Fotoğrafı %85 oranında büyüt */
			height: auto; /* Yüksekliği otomatik ayarla */
			transform: translateY(-130px); /* İstenilen kadar yukarı kaydır */
		}
	}

	@@media (min-width: 768px) and (max-width: 991px) {
		.one-third.js-fullheight.order-md-last.img {
			background-size: 90%; /* Fotoğrafı %85 oranında büyüt */
			height: auto; /* Yüksekliği otomatik ayarla */
			transform: translateY(-220px); /* İstenilen kadar yukarı kaydır */
		}
	}

	@@media (min-width: 992px) and (max-width: 1199px) {
		.one-third.js-fullheight.order-md-last.img {
			background-size: 85%; /* Fotoğrafı %95 oranında büyüt */
			height: auto; /* Yüksekliği otomatik ayarla */
			transform: translate(150px, -150px); /* İstenilen kadar sağa ve yukarı kaydır */
		}
	}

	@@media (min-width: 1200px) and (max-width: 2000px) {
		.one-third.js-fullheight.order-md-last.img {
			background-size: 95%; /* Fotoğrafı %85 oranında büyüt */
			height: auto; /* Yüksekliği otomatik ayarla */
			transform: translate(50px,-150px); /* İstenilen kadar yukarı kaydır */
		}
	}

	</style>

