@model AboutMePortfolioViewModel

<section id="home-section" class="hero">
	<div class="home-slider  owl-carousel">

		@if(Model is not null&& Model.ImageUrl1 is not null)
		{
			<div class="slider-item ">
				<div class="overlay"></div>
				<div class="container">
					<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third js-fullheight order-md-last img" style="background-image:url(@($"https://localhost:7085/uploads/{Model.ImageUrl1}"));">
							<div class="overlay"></div>
						</div>
						<div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Merhaba!</span>
								<h1 class="mb-4 mt-3">Ben <span> @Model.FullName </span></h1>
								<h2 class="mb-4">@Model.Field</h2>
								<p>
									<a href="/#contact-section" class="button-about-me btn btn-primary py-3 px-4">Birlikte Çalışalım</a>
									<a href="/#projects-section" class="btn btn-white btn-outline-white py-3 px-4">Çalışmalarım</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container">
					<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third js-fullheight order-md-last img" style="background-image:url(@($"https://localhost:7085/uploads/{Model.ImageUrl2}"));">
							<div class="overlay"></div>
						</div>
						<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Merhaba!</span>
								<h1 class="mb-4 mt-3">
									@(Model.Introduction != null && Model.Introduction.Length > 0
																? Model.Introduction.Substring(0, Model.Introduction.Length / 2)
																: "")
									<span>
										@(Model.Introduction != null && Model.Introduction.Length > 0
																				? Model.Introduction.Substring(Model.Introduction.Length / 2)
																				: "")
									</span>
									</h1>
								<p>
									<a href="/#contact-section" class="button-about-me btn btn-primary py-3 px-4">Birlikte Çalışalım</a>
									<a href="/#projects-section" class="btn btn-white btn-outline-white py-3 px-4">Çalışmalarım</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		else if (Model != null && Model.ImageUrl1 is null)
		{
			<div class="col-12 text-center" style="margin-top:300px;">
				<h3 class="mt-5">Şu Anda Hakkımda Kısmında Bilgi Bulunmuyor</h3>
			</div>
		}
		else
		{
			<div class="col-12 text-center" style="margin-top:300px;">
				<h3 class="mt-5">Şu Anda Hakkımda Kısmına Ulaşılamıyor</h3>
			</div>
		}
	</div>
</section>
