@model List<AllEducationsViewModel>

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @TempData["ErrorMessage"]
    </div>
}

@if (Model.Count == 0)
{
    <h2 class="text-center my-4" style="font-weight: 600; color: #333;">Eğitimler</h2>

    <div class="alert alert-info text-center mt-5 p-4" style="border-radius: 10px;">
        <h4 class="font-weight-bold">Şu anda görüntülenecek bir Eğitim bilgisi bulunmuyor.</h4>
        <p class="mb-4 text-muted">Yeni eğitim ekleyerek içeriği zenginleştirebilirsiniz.</p>
        <a href="/add-education" class="btn btn-sm btn-primary">
            <i class="fas fa-plus mr-2"></i>Eğitim Ekle
        </a>
    </div>
}

else
{
    <div class="container mt-4">
        <h2 class="text-center">Eğitimler</h2>
        <table class="table table-bordered table-striped table-responsive-md mt-4">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Okul</th>
                    <th class="text-center">Derece</th>
                    <th class="text-center">Başlangıç Tarihi</th>
                    <th class="text-center">Bitiş Tarihi</th>
                    <th class="text-center">İşlemler</th>
                    <th class="text-center">Görünürlük</th>
                    <th class="text-center">Görünür Yap / Gizle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var education in Model)
                {
                    <tr>
                        <td class="text-center">@education.School</td>
                        <td class="text-center">@education.Degree</td>
                        <td class="text-center">@education.StartDate.ToString("dd MMM yyyy")</td>
                        @if (@education.EndDate is null)
                        {
                           <td>
                               <span> Devam Ediyor </span>
                           </td>
                        }
                        else
                        {
                        <td class="text-center">@education.EndDate?.ToString("dd MMM yyyy")</td>
                        }
                        <td class="text-center">
                            <a href="/update-education-@education.Id" class="btn btn-sm btn-primary">Düzenle</a>
                            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-@education.Id">Sil</button>
                        </td>
                        <td class="text-center">
                            @if (education.IsVisible)
                            {
                                <span>Görünür ✅</span>
                            }
                            else
                            {
                                <span>Gizli ❌</span>
                            }
                        </td>
                        <td class="text-center">
                            @if (education.IsVisible)
                            {
                                <a href="/make-education-invisible-@education.Id" class="btn btn-sm btn-secondary">Gizle</a>
                            }
                            else
                            {
                                <a href="/make-education-visible-@education.Id" class="btn btn-sm btn-success">Görünür Yap</a>
                            }
                        </td>
                    </tr>

                    <!-- Silme Onay Modalı -->
                    <div class="modal fade" id="deleteModal-@education.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@education.Id" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-@education.Id">Silme Onayı</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <b>@education.School</b> kurumundaki eğitimi silmek istediğinize emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <form action="/delete-education-@education.Id" method="get">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                        <button type="submit" class="btn btn-danger">Sil</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    </div>
}

@section Styles {
    <style>
        .custom-alert-success {
            display: inline-block;
            top: 10px; /* Varsayılan üst boşluk */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-alert-error {
            display: inline-block;
            top: 10px; /* Varsayılan üst boşluk */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
}



