@model BlogPostPagePortfolioViewModel

@using System.Security.Claims
@using App.Core.Config
@using Microsoft.Extensions.Options
@inject IOptions<FileApiSettings> fileSettings

@{
    ViewData["Title"] = "Blog Post";
    var fileApiUrl = fileSettings.Value.FileApiUrl;
    if (Model.BlogPost is not null)
    {
        ViewData["BlogPostId"] = Model.BlogPost.Id;
    }
}

@{
    if (TempData["SuccessMessage"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["SuccessMessage"]
        </div>
    }

    if (TempData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @TempData["ErrorMessage"]
        </div>
    }

    if (ViewData["SuccessMessage"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["SuccessMessage"]
        </div>
    }

    if (ViewData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @TempData["ErrorMessage"]
        </div>
    }
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">

                @if (Model.BlogPost is not null && Model.BlogPost.Content is not null)
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>@Model.BlogPost.Title <i class="ion-ios-arrow-forward"></i></span>
                    </p>
                    <h2 class="mb-1">
                        @Model.BlogPost.Title
                    </h2>
                    <div class="text-muted mb-2" style="color: wheat; font-size: 16px;">
                        @Model.BlogPost.PublishDate.ToString("MMMM dd, yyyy")
                    </div>

                    <p>
                        @Model.BlogPost.Content
                    </p>
                    <div class="tag-widget post-tag-container mb-5 mt-5">
                    </div>

                    <div class="about-author d-flex p-4 bg-dark position-relative" style="width:400px;">
                        <div class="bio mr-2">
                            <img src="@fileApiUrl/uploads/furkan-kaptan.png" alt="Image placeholder" style="height:100px; border-radius:50%;" class="img-fluid mb-4">
                        </div>
                        <div class="desc">
                            <h3>Furkan Kaptan</h3>
                            <p>Backend Yazılım Geliştirici</p>
                        </div>
                        <span class="author-label">Yazar</span>
                    </div>



                    <div class="pt-5 mt-5">

                        @if (Model.BlogPost.Comments is null)
                        {
                            <h3 class="mb-5">Şu anda yorumlara ulaşılamıyor</h3>
                        }
                        else if (Model.BlogPost.Comments is not null && Model.BlogPost.Comments.Count < 1)
                        {
                            <h3 class="mb-5">Henüz yorum yapılmadı.</h3>
                        }
                        else if (Model.BlogPost.Comments is not null && Model.BlogPost.Comments.Count > 0)
                        {
                            <h3 class="mb-5">@Model.BlogPost.Comments.Count Yorum</h3>
                        }

                        @if (Model.BlogPost.Comments is not null && Model.BlogPost.Comments.Count > 0)
                        {
                            <partial name="Partials/Comments.cshtml" model="Model.BlogPost.Comments" />
                        }

                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                        <partial name="Partials/SignedCommentForm.cshtml" model="Model.SignedComment" />
                        }
                        else
                        {
                        <partial name="Partials/UnsignedCommentForm.cshtml" model="Model.UnsignedComment" />
                        }
                      
                    </div>
                }
                else if (Model.BlogPost is not null && Model.BlogPost.Content is null)
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Bulunamadı</span>
                    </p>

                    <div class="col-12 text-center">
                        <h3 class="mt-5">Görüntülemek istediğiniz Blog Post bulunamadı.</h3>
                    </div>
                }
                else
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Ulaşılamadı</span>
                    </p>

                    <div class="col-12 text-center">
                        <h3 class="mt-5">Görüntülemek istediğiniz Blog Post'a ulaşılamadı.</h3>
                    </div>
                }

            </div>


            <div class="col-lg-4 sidebar ftco-animate">

                <div class="sidebar-box ftco-animate">

                    <h3 class="heading-sidebar">En Son Yayınlananlar</h3>

                    @await Component.InvokeAsync("LastBlogPosts")

                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading-sidebar">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section>

<style>

    .about-author {
        position: relative;
    }

    .author-label {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: wheat;
        font-weight: bold;
        font-size: 1.1em;
    }

        .custom-alert-success {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 10px; /* Ekranın üst kısmından 10px boşluk */
            left: 50%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: wheat; /* Arka plan rengi */
            color: #6b4f3a; /* Yazı rengi (daha koyu bir ton) */
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

    .custom-alert-error {
        position: fixed; /* Sayfada sabit konumlandırma */
        top: 10px; /* Ekranın üst kısmından 10px boşluk */
        left: 50%; /* Ekranın ortasına hizalama */
        transform: translateX(-50%); /* Ortalamak için translate */
        z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

</style>
