@model BlogPostPagePortfolioViewModel

@{
    ViewData["BlogPostId"] = Model.BlogPost.Id;
    ViewData["UserId"] = 1;
}

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @TempData["ErrorMessage"]
    </div>
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">

                @if (Model.BlogPost is not null && Model.BlogPost.Content is not null)
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>@Model.BlogPost.Title<i class="ion-ios-arrow-forward"></i></span>
                    </p>
                    <h2 class="mb-3">@Model.BlogPost.Title</h2>
                    <p>
                        @Model.BlogPost.Content
                    </p>
                    <div class="tag-widget post-tag-container mb-5 mt-5">
                    </div>

                    <div class="about-author d-flex p-4 bg-dark">
                        <div class="bio mr-5">
                            <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                        </div>
                        <div class="desc">
                            <h3>George Washington</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                        </div>
                    </div>


                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">@Model.BlogPost.Comments.Count Yorum</h3>

                        <partial name="Partials/Comments.cshtml" model="Model.BlogPost.Comments">

                        <partial name="Partials/UnsignedCommentForm.cshtml" model="Model.UnsignedComment">
                        <partial name="Partials/SignedCommentForm.cshtml" model="Model.SignedComment">

                    </div>
                }
                else if (Model.BlogPost is not null && Model.BlogPost.Content is null)
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Bulunamadı</span>
                    </p>

                    <div class="col-12 text-center">
                        <h3 class="mt-5">Görüntülemek istediğiniz Blog Post bulunamadı.</h3>
                    </div>
                }
                else
                {
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span>
                        <span class="mr-2"><a href="/#blog-section">Blog Post <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Ulaşılamadı</span>
                    </p>

                    <div class="col-12 text-center">
                        <h3 class="mt-5">Görüntülemek istediğiniz Blog Post'a ulaşılamadı.</h3>
                    </div>
                }

            </div>


            <div class="col-lg-4 sidebar ftco-animate">
             
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading-sidebar">En Son Yayınlananlar</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading-sidebar">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section>


@section Styles{
    <style>

        .custom-alert-success {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 50%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-alert-error {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 50%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}