@model List<AllUsersViewModel>

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @TempData["ErrorMessage"]
    </div>
}

@if (ViewData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="container">
    <h2 class="text-center">Kullanıcılar</h2>
    <table class="table table-bordered table-striped table-responsive-md mt-4">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Resim</th>
                <th class="text-center">Kullanıcı adı</th>
                <th class="text-center">Email</th>
                <th class="text-center">Yorumlar</th>
                <th class="text-center">Aktiflik</th>
                <th class="text-center">Aktive et/ Deaktive et</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@($"https://localhost:7085/uploads/{user.ImageUrl}")" class="img-thumbnail" style="max-width: 100px; height: auto; display: block; margin: auto;">
                    </td class="text-center">
                    <td class="text-center">@user.Username</td>
                    <td class="text-center">@user.Email</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-@user.Id" aria-haspopup="true" aria-expanded="false">Yorumları Görüntüle</button>
                    </td>
                    <td  class="text-center">
                        @if (user.IsActive)
                        {
                            <span>Aktif ✅</span>
                        }
                        else
                        {
                            <span>Aktif değil ❌</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (user.IsActive)
                        {
                            <a href="/change-user-activeness-@user.Id" class="btn btn-sm btn-secondary">İnaktif yap</a>
                        }
                        else
                        {
                            <a href="/change-user-activeness-@user.Id" class="btn btn-sm btn-success">Aktif Yap</a>
                        }
                    </td>
                </tr>

                <div class="modal fade" id="modal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="modalLabel-@user.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel-@user.Id">@user.Username</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="comments-section">
                                <h6 class="ml-3 mb-3">Yorumlar:</h6>
                                <div class="comment-list">

                                    @if(user.Comments.Count == 0)
                                    {
                                        <div class="mt-3 mb-3 ml-3">
                                        <span >Kullanıcı henüz yorum yapmadı.</span>
                                        </div>
                                    }
                                    else
                                    {
                                       @foreach (var comment in user.Comments)
                                    {
                                        <div class="comment">
                                            <div class="comment-content">
                                                <strong>Blog Post -> " @comment.BlogPostName "</strong>
                                                <p class="mt-2">" @comment.Content "</p>
                                            </div>
                                            <small class="text-muted">Yorum Tarihi: @comment.CreatedAt.ToString("dd MMMM yyyy HH:mm")</small>
                                            <p class="comment-status">
                                                @if (comment.IsApproved)
                                                {
                                                    <span class="text-success">Onaylı</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Onaylı Değil</span>
                                                }
                                            </p>
                                        </div>
                                    } 
                                    }
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@section Styles{
    <style>

           .custom-alert-success {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 60%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-alert-error {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 60%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .table td {
            vertical-align: middle; /* Tüm tablo hücrelerini dikey olarak ortalar */
        }
        .table td {
            vertical-align: middle; /* Tüm tablo hücrelerini dikey olarak ortalar */
        }

           .comments-section {
        margin-top: 20px;
    }

    .comment-list {
        border-top: 1px solid #dee2e6;
        padding-top: 10px;
    }

        .comment {
            padding: 10px 0;
            border-bottom: 1px solid #f1f1f1;
            padding-left: 15px; /* Yorumlara soldan boşluk ekledim */
        }

    .comment:last-child {
        border-bottom: none;
    }

    .comment-content {
        margin-bottom: 5px;
    }

    .comment-status {
        font-weight: bold;
        margin-top: 5px;
    }

    @@media (max-width: 576px) {
        .comment {
            padding: 5px 0;
        }
    }

    </style>
}


