@model ForgotPasswordViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title>Yönetici Paneli - Şifremi Unuttum</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- Bu satırı ekleyin -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login/css/style.css">

    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Yazı tipi ayarı */
            color: #fff; /* Genel yazı rengi */
        }
        .custom-alert-success {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 50%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-alert-error {
            position: fixed; /* Sayfada sabit konumlandırma */
            top: 50px; /* Ekranın üst kısmından 10px boşluk */
            left: 50%; /* Ekranın ortasına hizalama */
            transform: translateX(-50%); /* Ortalamak için translate */
            z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .text-danger {
            color: wheat !important;
        }
    </style>

</head>
<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">

    @{
        if (TempData["Message"] is not null)
        {
            <div class="alert custom-alert-success mt-5">
                @TempData["Message"]
            </div>
        }

        if (TempData["ErrorMessage"] is not null)
        {
            <div class="alert custom-alert-error mt-5">
                @TempData["ErrorMessage"]
            </div>
        }

        if (ViewData["Message"] is not null)
        {
            <div class="alert custom-alert-success mt-5">
                @ViewData["Message"]
            </div>
        }

        if (ViewData["ErrorMessage"] is not null)
        {
            <div class="alert custom-alert-error mt-5">
                @ViewData["ErrorMessage"]
            </div>
        }
    }

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-3">
                    <h2 class="heading-section">Şifremi Unuttum</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <p class="mb-4 text-center">Lütfen Sisteme Kayıtlı Email Adresinizi Girin</p>
                        <form id="forgotForm" asp-action="ForgotPassword" class="signin-form" autocomplete="off">

                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="off">
                                <span id="emailError" class="text-danger"></span> <!-- Hata mesajı için span -->
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Şifre Sıfırlama Linkini Gönder</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var alerts = document.querySelectorAll('.custom-alert-success, .custom-alert-error');
            alerts.forEach(function (alert) {
                if (alert) {
                    setTimeout(function () {
                        alert.style.transition = 'opacity 0.5s ease';
                        alert.style.opacity = '0';
                        setTimeout(function () {
                            alert.remove();
                        }, 500);
                    }, 5000);
                }
            });
        });

        document.getElementById('forgotForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Formun gönderilmesini engelle

            // Hata mesajlarını temizle
            document.getElementById('emailError').innerText = '';

            // Değerleri al
            const email = document.getElementById('Email').value.trim();
           

            let hasError = false;

            // Email validasyonu
            const emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            if (!email) {
                document.getElementById('emailError').innerText = 'Email alanı boş olamaz.';
                hasError = true;
            } else if (email.length > 100) {
                document.getElementById('emailError').innerText = 'Email en fazla 100 karakter olabilir.';
                hasError = true;
            } else if (!emailPattern.test(email)) {
                document.getElementById('emailError').innerText = 'Geçerli bir email adresi giriniz.';
                hasError = true;
            }

            // Hatalar yoksa formu gönder
            if (!hasError) {
                this.submit(); // Formu sunucuya gönder
            }
        });
    </script>

    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>
</body>
</html>
