@model List<AllBlogPostsViewModel>

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @TempData["ErrorMessage"]
    </div>
}


<div class="container mt-4">
    <h2 class="text-center">Tüm Blog Postlar</h2>
    <table class="table table-bordered table-striped table-responsive-md mt-4">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Başlık</th>
                <th class ="text-center">Yayınlanma Tarihi</th>
                <th class="text-center">İşlemler</th>
                <th class="text-center">Görünürlük</th>
                <th class="text-center">Görünür Yap / Gizle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td class="text-center">@post.Title</td>
                    <td class="text-center">@post.PublishDate.ToString("dd MMM yyyy")</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-@post.Id" aria-haspopup="true" aria-expanded="false">İçeriği Görüntüle</button>
                        <a href="/update-blog-post-@post.Id" class="btn btn-sm btn-primary">Düzenle</a>
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-@post.Id">Sil</button>
                    </td>
                    <td class="text-center">
                        @if (post.IsVisible)
                        {
                            <span>Görünür ✅</span>
                        }
                        else
                        {
                            <span>Gizli ❌</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (post.IsVisible)
                        {
                            <a href="/make-blog-post-invisible-@post.Id" class="btn btn-sm btn-secondary">Gizle</a>
                        }
                        else
                        {
                            <a href="/make-blog-post-visible-@post.Id" class="btn btn-sm btn-success">Görünür Yap</a>
                        }
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="modal-@post.Id" tabindex="-1" role="dialog" aria-labelledby="modalLabel-@post.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel-@post.Id">@post.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>@post.Content</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Silme Onay Modalı -->
                <div class="modal fade" id="deleteModal-@post.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@post.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel-@post.Id">Silme Onayı</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <b>@post.Title</b> başlıklı blog postu silmek istediğinize emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <form action="/delete-blog-post-@post.Id" method="get">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                    <button type="submit" class="btn btn-danger">Sil</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@section Styles{
    <style>
        .custom-alert-success {
            display: inline-block;
            top: 10px; /* Varsayılan üst boşluk */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: #dff0d8;
            color: #3c763d;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .custom-alert-error {
            display: inline-block;
            top: 10px; /* Varsayılan üst boşluk */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
}

