@model AdminAboutMeViewModel

@{
    if (TempData["Message"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["Message"]
        </div>
    }

    if (TempData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @TempData["ErrorMessage"]
        </div>
    }

    if (ViewData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @ViewData["ErrorMessage"]
        </div>
    }
}

<div class="row mb-5">
<div class="col-md">
    <div class="card mb-3">
        <div class="row g-0 m-5">
                <div class="col-md-4">

                    <div class="card-body">
                        <div class="card shadow-none bg-transparent border border-info mb-3 mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Giriş</h5>
                                <p class="card-text">@Model.Introduction</p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-info mb-3 mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Tam İsim</h5>
                                <p class="card-text">@Model.FullName</p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-info mb-3 mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Alan</h5>
                                <p class="card-text">@Model.Field</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-4">
                    <img class="card-img" src="@($"https://localhost:7085/uploads/{Model.ImageUrl1}")" />
            </div>
                <div class="col-md-4">
                    <img class="card-img" src="@($"https://localhost:7085/uploads/{Model.ImageUrl2}")" />
                </div>
        </div>
    </div>
</div>
</div>

@section Styles{
    <style>

        .card-img {
            max-height: 350px; /* Maksimum yükseklik 150px */
            width: auto; /* Genişliği otomatik ayarlar */
            height: auto; /* Yüksekliği otomatik ayarlar */
            object-fit: cover; /* Orantılı kesim */
        }
    </style>
}
